@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables.sass";
@import 'bulma/bulma';
@import "bulma-extensions/bulma-divider/src/sass/index.sass";

.card{
  background-color: transparent !important;
}

.language-select{
  cursor: pointer;
  transition: .4s;


  &:hover{
    background: #cdcdcd;
    color: white;
  }
}

#members .hero-body, #contact .hero-body,#id .hero-body, #live .hero-body,#releases .hero-body,#photos .hero-body, #news .hero-body{
  padding-top: 0;
}

.member__even{
  text-align: right;
}

.container{
  width: initial !important;
}

.content{
  display: grid;
  justify-content: center;
}

.content-main{
  width: 80vw;
  background: white;
  top: 52px;
  position: relative;
}

.is-divider{
  margin: 2rem 1rem;
}

.hero-image__group{
  padding: 10px
}

*{
  font-family: "Hiragino Kaku Gothic Pro", sans-serif
}

.band-members__list{
  text-align: center;
  font-size: 12px;
}

.social-icons{
  text-align: center;
  font-size: 30px;
  .icon{
    padding: 1em;
  }
}

.hero-body{
  padding: 1.5rem 1.5rem;
}

a{
  color: grey !important;
}

.navbar-item{
  cursor: pointer;
}