@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/derived-variables.sass";
@import 'bulma/bulma';
@import "bulma-extensions/bulma-divider/src/sass/index.sass";

.card{
  background-color: transparent !important;
}

.language-select{
  cursor: pointer;
  transition: .4s;


  &:hover{
    background: #cdcdcd;
    color: white;
  }
}

#members .hero-body, #contact .hero-body,#id .hero-body, #live .hero-body,#releases .hero-body,#photos .hero-body, #news .hero-body{
  padding-top: 0;
}

.member__even{
  text-align: right;
}